<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicineReminderNew"
        tools:targetApi="31">

        <!-- Aktivitas utama -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MedicineReminderNew">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- BroadcastReceiver untuk Alarm -->
        <receiver
            android:name=".ui.alarm.AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.medicineremindernew.ALARM" />
            </intent-filter>
        </receiver>

        <!-- Restart alarm setelah reboot -->
        <receiver
            android:name=".ui.alarm.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Service untuk menjalankan alarm di background -->
        <service
            android:name=".ui.alarm.AlarmService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback" />
    </application>
</manifest>
